* {
    padding: 0;
    margin: 0;
    user-select: none;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
    font-family: 'Coiny', cursive;
}

body {
    height: 100vh;
    background-color: wheat;
}

html {
    font-size: 18px;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.wrapper {
    margin-top: 1em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.toptitle {
    font-size: 2.5em;
    text-align: center;
    color: #ee5a5a;
    margin-bottom: 0.75em;
}

.container, .back-container {
    width: 48vmin;
    height: 48vmin;
    max-width: 500px;
    max-height: 500px;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 3vmin;
    z-index: 2;
}

.back-container {
    position: absolute;
    top: 115px;
    left: 7px;
    z-index: 1;
    gap: 3vmin;
    display: flex;
    flex-wrap: wrap;
}

.button-option {
    background: #ecc040;
    height: calc((100% / 3) - 2vmin); /* Adjusted from 21vmin */
    width: calc((100% / 3) - 2vmin);
    border: none;
    border-radius: 9px;
    font-size: 9vmin;
    color: #ee5a5a;
}

.button-option:hover{
    border: 4px solid #ee5a5a;
    transition: all 0.1s ease-in-out;
    background-color: rgb(236, 210, 64);
    color: #ee645a;
}

.back-button {
    background: #ee5a5a;
    height: calc((100% / 3) - 2vmin); /* Adjusted from 21vmin */
    width: calc((100% / 3) - 2vmin);
    border: none;
    border-radius: 9px;
    font-size: 12vmin;
}

#restart {
    font-size: 1.5em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 18px;
    background-color: #ee5a5a;
    color: wheat;
    position: relative;
    margin: 2em auto 2em auto;
    display: block;
    transition: background-color 0.2s ease-in-out;
}

#restart:hover {
    background-color: #ecc040;
    color: #ee5a5a;
    box-shadow: inset 0 0 0 4px #ee5a5a; /* Add this line */
    padding: 0.5em 1em;
    border-radius: 18px;
}

.popup {
    background: wheat;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12vmin;
    animation: fadeIn 0.4s ease-in-out;
}

#new-game {
    font-size: 0.5em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.75em;
    border: 4px solid #ee5a5a;
    background-color: #ecc040;
    color: #ee5a5a;
}

#new-game:hover {
    background-color: #ee5a5a;
    color: wheat;
}

#message {
    font-size: 1em;
    text-align: center;
    color: #ee5a5a;
}

.popup.hide {
    display: none;
}