* {
    padding: 0;
    margin: 0;
    user-select: none;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
    font-family: 'Coiny', cursive;
}

body {
    height: 100vh;
    background-color: wheat;
}

html {
    font-size: 18px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.wrapper {
    margin-top: 1em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.toptitle {
    font-size: 2.5em;
    text-align: center;
    color: #ee5a5a;
    margin-bottom: 0.5em;
}

.container {
    width: 48vmin;
    height: 48vmin;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 3vmin;
    z-index: 2;
}

.button-option {
    background: #ecc040;
    height: calc((100% / 3) - 2vmin);
    width: calc((100% / 3) - 2vmin);
    border: none;
    border-radius: 9px;
    font-size: 9vmin;
    color: #ee5a5a;
    box-shadow: 5px 5px 0 0 #ee5a5a;
}

:root {
    --hover-border-color: #ee5a5a;
}

.button-option:hover {
    border: 4px solid var(--hover-border-color);
    transition: all 0.1s ease-in-out;
    box-shadow: 5px 5px 0 0 #ee5a5a;
    background-color: rgb(236, 210, 64);
    color: #ee645a;
}

#restart {
    font-size: 1.5em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 18px;
    background-color: #ee5a5a;
    color: wheat;
    position: relative;
    margin: 2em auto 2em auto;
    display: block;
    transition: background-color 0.2s ease-in-out;
}

#restart:hover {
    background-color: #ecc040;
    color: #ee5a5a;
    box-shadow: inset 0 0 0 4px #ee5a5a; /* Add this line */
    padding: 0.5em 1em;
    border-radius: 18px;
}

.theme-frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 256px;
    left: 112px;
    font-size: 36px;
    color: #ee5a5a;
}

.frame .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Coiny-Regular", Helvetica;
    font-weight: 400;
    color: #ee5a5a;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.switch input {
    display: none;
}

.switch #slider {
    position: relative;
    display: block;
    width: 78.5px;
    height: 46.5px;
    background: #ee5a5a;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.4s ease-in-out;
}

.switch #slider::before {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background: #ecc040;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    transition: left 0.4s ease-in-out;
}

.switch input:checked + #slider {
    background: #ecc040;
}

.switch input:checked + #slider::before {
    left: 38px;
    background: #ee5a5a;
}

.popup {
    background: wheat;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12vmin;
    animation: fadeIn 0.4s ease-in-out;
}

#new-game {
    font-size: 0.5em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.75em;
    border: 4px solid #ee5a5a;
    background-color: #ecc040;
    color: #ee5a5a;
}

#new-game:hover {
    background-color: #ee5a5a;
    color: wheat;
}

#message {
    font-size: 1em;
    text-align: center;
    color: #ee5a5a;
}

.popup.hide {
    display: none;
}